.header{
    /* background: red; */
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pages{
    color: #31B380;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

.body{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.dropdown{
    width: 25%;
}

.item{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.98864px solid #D2D2D2;
    box-sizing: border-box;
    gap: 1rem;
}

.item1{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1.98864px solid #D2D2D2;
    box-sizing: border-box;
    gap: 1rem;
    border-radius: 15.9091px 15.9091px 0px 0px;
    cursor:pointer;
}

.item1Active{
    color: #4658F7;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1.98864px solid #4658F7;
    box-sizing: border-box;
    gap: 1rem;
    border-radius: 15.9091px 15.9091px 0px 0px;
    cursor:pointer;
}

.category{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #202020;
}

.categoryActive{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #4658F7;
}

.containerDrop{
    display: block;
    border: 1.98864px solid #D2D2D2;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    cursor:pointer;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1)
    }
    100% {
        transform: scaleY(1)
    }
}

.dropItem{
    height: 35px;
    width: 70%;
    margin: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    /* or 165% */
    color: #202020;
}

.product{
    /* background: aqua; */
    width: 70%;
}

.barang{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 30px;
    /* background: blue; */
}

.series{
    /* background: red; */
    width: 24%;
}

.series img{
    width: 100%;
    height: auto;
    background: #F5F0FF;
    /* background: red; */
    border: 6.54797px solid #F7F3FF;
    border-radius: 9.16715px;
}

.titleProduct{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 28px;
    margin-bottom: 30px;
    /* identical to box height, or 135% */
    color: #202020;
}

.titleSeries{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;

    color: #0C0D36;
}